// Imports TailwindCSS
@tailwind base;
@tailwind components;
@tailwind utilities;

// Add you custom styles here
// or use this file to create Tailwind components using the
// @apply directive */
@layer components {
  .btn-green {
    @apply p-2 border text-white bg-green-500;
  };
  .skill[data-v-5e096964]:nth-of-type(1) {
    top: 0px;
    left: 4rem;
    width: 2.5rem;
    padding: 0.5rem;
  }
  @media (min-width: 1024px) {
    .skill[data-v-5e096964]:nth-of-type(1) {
      top: 0px;
    }
    .skill[data-v-5e096964]:nth-of-type(1) {
      left: 4rem;
    }
    .skill[data-v-5e096964]:nth-of-type(1) {
      width: 3.5rem;
    }
    .skill[data-v-5e096964]:nth-of-type(1) {
      padding: 0.75rem;
    }
  }
  @media (min-width: 1280px) {
    .skill[data-v-5e096964]:nth-of-type(1) {
      top: 1.25rem;
    }
    .skill[data-v-5e096964]:nth-of-type(1) {
      left: 4rem;
    }
    .skill[data-v-5e096964]:nth-of-type(1) {
      width: 4rem;
    }
    .skill[data-v-5e096964]:nth-of-type(1) {
      padding: 1rem;
    }
  }
  .skill[data-v-5e096964]:nth-of-type(2) {
    top: 0.5rem;
    right: 2.5rem;
    width: 3.5rem;
    padding: 0.75rem;
  }
  @media (min-width: 1024px) {
    .skill[data-v-5e096964]:nth-of-type(2) {
      top: 0.25rem;
    }
    .skill[data-v-5e096964]:nth-of-type(2) {
      right: 3rem;
    }
    .skill[data-v-5e096964]:nth-of-type(2) {
      width: 3.5rem;
    }
    .skill[data-v-5e096964]:nth-of-type(2) {
      padding: 0.75rem;
    }
  }
  @media (min-width: 1280px) {
    .skill[data-v-5e096964]:nth-of-type(2) {
      top: 0.25rem;
    }
    .skill[data-v-5e096964]:nth-of-type(2) {
      right: 5rem;
    }
    .skill[data-v-5e096964]:nth-of-type(2) {
      width: 4rem;
    }
    .skill[data-v-5e096964]:nth-of-type(2) {
      padding: 0.75rem;
    }
  }
  .skill[data-v-5e096964]:nth-of-type(3) {
    top: 9rem;
    right: -0.5rem;
    width: 3.5rem;
    padding: 0.75rem;
  }
  @media (min-width: 1024px) {
    .skill[data-v-5e096964]:nth-of-type(3) {
      top: 10rem;
    }
    .skill[data-v-5e096964]:nth-of-type(3) {
      right: -1.5rem;
    }
    .skill[data-v-5e096964]:nth-of-type(3) {
      width: 4rem;
    }
    .skill[data-v-5e096964]:nth-of-type(3) {
      padding: 1rem;
    }
  }
  @media (min-width: 1280px) {
    .skill[data-v-5e096964]:nth-of-type(3) {
      top: 13rem;
    }
    .skill[data-v-5e096964]:nth-of-type(3) {
      right: -2rem;
    }
    .skill[data-v-5e096964]:nth-of-type(3) {
      width: 6rem;
    }
    .skill[data-v-5e096964]:nth-of-type(3) {
      padding: 1.5rem;
    }
  }
  .skill[data-v-5e096964]:nth-of-type(4) {
    bottom: 0px;
    left: 8rem;
    width: 4rem;
    padding: 1rem;
  }
  @media (min-width: 1024px) {
    .skill[data-v-5e096964]:nth-of-type(4) {
      bottom: 0px;
    }
    .skill[data-v-5e096964]:nth-of-type(4) {
      left: 50%;
    }
    .skill[data-v-5e096964]:nth-of-type(4) {
      width: 5rem;
    }
    .skill[data-v-5e096964]:nth-of-type(4) {
      padding: 1rem;
    }
  }
  @media (min-width: 1280px) {
    .skill[data-v-5e096964]:nth-of-type(4) {
      bottom: 0px;
    }
    .skill[data-v-5e096964]:nth-of-type(4) {
      left: 50%;
    }
    .skill[data-v-5e096964]:nth-of-type(4) {
      width: 8rem;
    }
    .skill[data-v-5e096964]:nth-of-type(4) {
      padding: 2.25rem;
    }
  }
  .skill[data-v-5e096964]:nth-of-type(5) {
    top: 6rem;
    left: -0.5rem;
    width: 2rem;
    padding: 0.5rem;
  }
  @media (min-width: 1024px) {
    .skill[data-v-5e096964]:nth-of-type(5) {
      top: 9rem;
    }
    .skill[data-v-5e096964]:nth-of-type(5) {
      left: -1rem;
    }
    .skill[data-v-5e096964]:nth-of-type(5) {
      width: 3rem;
    }
    .skill[data-v-5e096964]:nth-of-type(5) {
      padding: 0.5rem;
    }
  }
  @media (min-width: 1280px) {
    .skill[data-v-5e096964]:nth-of-type(5) {
      top: 13rem;
    }
    .skill[data-v-5e096964]:nth-of-type(5) {
      left: -1rem;
    }
    .skill[data-v-5e096964]:nth-of-type(5) {
      width: 3.5rem;
    }
    .skill[data-v-5e096964]:nth-of-type(5) {
      padding: 0.75rem;
    }
  }
  .skill[data-v-5e096964]:nth-of-type(6) {
    bottom: 3.5rem;
    left: 0.5rem;
    width: 3rem;
    padding: 0.5rem;
  }
  @media (min-width: 1024px) {
    .skill[data-v-5e096964]:nth-of-type(6) {
      bottom: 4rem;
    }
    .skill[data-v-5e096964]:nth-of-type(6) {
      left: 0.5rem;
    }
    .skill[data-v-5e096964]:nth-of-type(6) {
      width: 3rem;
    }
    .skill[data-v-5e096964]:nth-of-type(6) {
      padding: 0.5rem;
    }
  }
  @media (min-width: 1280px) {
    .skill[data-v-5e096964]:nth-of-type(6) {
      bottom: 4rem;
    }
    .skill[data-v-5e096964]:nth-of-type(6) {
      left: 3.5rem;
    }
    .skill[data-v-5e096964]:nth-of-type(6) {
      width: 4rem;
    }
    .skill[data-v-5e096964]:nth-of-type(6) {
      padding: 0.75rem;
    }
  }
}
